<div class="home">

    <navbar active="'home'"></navbar>

    <div>
        <h4 class="center-align white-text">Список вопросов</h4>
    </div>

    <div class="row">

        <div ng-repeat="question in $ctrl.questions | orderBy:['-answered','-like'] | filter: $ctrl.blocked" class="col s12 m12 l12">
          <div class="card" ng-class="question.answered ? 'green darken-1' : 'blue-grey darken-1'">
            <div class="card-content white-text">
              <span class="new badge" ng-class="{red: question.like < 0, blue: question.like >= 0}" data-badge-caption="rating">{{ question.like }}</span>
              <span class="card-title">{{ question.first_name }}</span>
              <span class="right">{{question.email}}</span>
              <p class="flow-text">{{ question.question }}</p>
            </div>
            <div class="card-action">
                <div ng-show="$ctrl.isAdmin()">
					<a ng-show="!question.answered" ng-click="$ctrl.answer(question)" class="blue darken-3 waves-effect waves-light btn">
                        <i class="material-icons left">spellcheck</i>Ответил
                    </a>
                    <a ng-show="!question.approved" ng-click="$ctrl.approve(question)" class="green waves-effect waves-light btn">
                        <i class="material-icons left">visibility</i>Аппрув
                    </a>
                    <a ng-click="$ctrl.delete(question)" class="red waves-effect waves-light btn">
                        <i class="material-icons left">delete</i>Удалить
                    </a>
                </div>

                <a  ng-disabled="question.answered"
					ng-click="$ctrl.up(question)"
					ng-class="{lime: question.voted}"
					class="waves-effect waves-light btn">
                    <i class="material-icons left">thumb_up</i>Интересно
                </a>
                <a  ng-disabled="question.answered"
					ng-show="$ctrl.isAdmin() || !question.mine"
					ng-class="{lime: question.voted}"
					class="waves-effect waves-light btn">
                    <i class="material-icons left">thumb_down</i>Не очень
                </a>
            </div>
          </div>
        </div>

    </div>
</div>
