<div class="queue">

	<navbar active="'queue'"></navbar>


	<div class="center-align">
		<h4 class="white-text">Перед тобой <span ng-show="$ctrl.user" >{{ $ctrl.user.displayName }}</span></h4>

		<h1 class="white-text">42 вопроса</h1>

		<a ui-sref="home" class="waves-effect waves-light btn">
			<i class="material-icons left">toc</i>К списку
		</a>

		<a ng-click="$ctrl.auth()" ng-show="!$ctrl.user" class="waves-effect waves-light btn">
			<i class="material-icons left">lock_open</i>Войти с помощью Google
		</a>
	</div>
</div>