<div class="ask">
	<navbar active="'ask'"></navbar>

	<div>
		<h4 class="center-align white-text">Задать вопрос</h4>
	</div>

	<div class="row">
		<h5 class="center red-text" ng-show="$ctrl.invalid">
			Вы уже отправили свой вопрос!<br> Пожалуйста дожитесь его модерации!
		</h5>
		<form autocomplete="off" ng-submit="$ctrl.save()" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input required maxlength="50" ng-disabled="$ctrl.disabled" id="first_name" ng-model="$ctrl.qData.first_name" type="text" class="white-text validate">
					<label for="first_name">Имя</label>
				</div>
				<div class="input-field col s6">
					<input maxlength="150" ng-disabled="$ctrl.disabled" id="email" ng-model="$ctrl.qData.email" type="text" class="white-text validate">
					<label for="email">Электронная почта</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea maxlength="950" ng-disabled="$ctrl.disabled" id="question" ng-model="$ctrl.qData.question" class="materialize-textarea white-text"></textarea>
					<label for="question">Ваш вопрос</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<button ng-disabled="$ctrl.disabled" class="btn waves-effect waves-light" type="submit" name="action">Отправить
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
